<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintanance Page</title>
    </head>
    <body>
        <h1>Under Maintance</h1>
        <p>Site is currently getting an update please come back later</p>
    </body>

    {{> footer}}
</html>